<h1>All Comments</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
        <th>Content</th>
        <th>Post</th>
        <th>Author</th>
        <th>Created At</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
        <tr>
            <td><%= truncate(comment.content, length: 50) %></td>
            <td><%= link_to comment.post.title, post_path(comment.post) %></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.created_at.strftime("%b %d, %Y") %></td>
            <td>
            <%= link_to "Edit", edit_admin_comment_path(comment) %> |
            <%= link_to "Delete", admin_comment_path(comment), 
                    method: :delete,
                    data: { turbo_method: :delete, confirm: "Delete this comment?" } %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to "Back to Dashboard", admin_dashboard_path %></p>
