<h1>Comments Manager</h1>

<!-- Filters -->
    <%= form_with url: admin_comments_path, method: :get, local: true do %>
    <div style="margin-bottom: 10px;">
        <!-- Filter by Author -->
        <label>Filter by Author:</label>
        <%= select_tag :author_id,
            options_from_collection_for_select(@available_authors, :id, :name, params[:author_id]),
            include_blank: "All Authors" %>

        <!-- Filter by Post Title -->
        <label>Filter by Post:</label>
        <%= select_tag :post_id,
            options_from_collection_for_select(@available_posts, :id, :title, params[:post_id]),
            include_blank: "All Posts" %>


        <%= submit_tag "Apply Filters" %>
        <%= link_to "Reset", admin_comments_path %>
    </div>
<% end %>

<table border="1" cellpadding="5">
    <thead>
        <tr>
        <th>Content</th>
        <th>Post Title</th>
        <th>Author</th>
        <th>Date Posted</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
        <tr>
            <td><%= truncate(comment.content, length: 50) %></td>
            <td><%= link_to comment.post.title, post_path(comment.post) %></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.created_at.strftime("%b %d, %Y") %></td>
            <td>
            <%= link_to "Edit", edit_admin_comment_path(comment) %> |
            <%= link_to "Delete", admin_comment_path(comment), 
                    method: :delete,
                    data: { turbo_method: :delete, confirm: "Delete this comment?" } %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to "Back to Dashboard", admin_dashboard_path %></p>
