<div class="container my-4 post-content">
    <%= link_to "#", class: "simple-btn-accent d-flex align-items-center mb-2", onclick: "window.history.back(); return false;" do %>
        <%= image_tag "icons/arrow-left.svg", alt: "Back", width: 20, height: 20, class: "me-2" %>
        Back
    <% end %>

    <h3><%= @post.title %></h3>

    <div class="d-flex justify-content-between align-items-center mb-2">
        <span class="text-muted">
            <span class="text-uppercase fw-bold"><%= @post.user.name %></span>
            <span class="mx-1">|</span>
            <span class="fw-normal"><%= @post.created_at.strftime("%b %d, %Y") %> at <%= @post.created_at.strftime("%I:%M %p") %></span>
        </span>

        <div class="d-flex gap-2">
            <%= link_to edit_admin_post_path(@post), class: "btn btn-icon-edit" do %>
                <%= image_tag "icons/edit.svg", alt: "Edit", width: 20, height: 20 %>
            <% end %>
            <%= link_to admin_post_path(@post),
                data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete this post and all its comments?" },
                class: "btn btn-icon-delete",
                title: "Delete Post" do %>
                <%= image_tag "icons/trash.svg", alt: "Delete", width: 20, height: 20 %>
            <% end %>
        </div>
    </div>

    <p><%= @post.body %></p>

    <hr>

    <h3>Comments</h3>

    <% if @comments.any? %>
        <% @comments.each do |comment| %>
            <span style="font-size: 0.875rem;">
                <span class="text-uppercase fw-bold"><%= comment.user.name %></span>
                <span class="mx-1">|</span>
                <span class="fw-normal"><%= comment.created_at.strftime("%b %d, %Y") %> at <%= comment.created_at.strftime("%I:%M %p") %></span>
            </span>

            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="mb-0"><%= comment.content %></p>

                <div class="action-dropdown">
                    <button class="btn" 
                            type="button" 
                            id="adminCommentActionsDropdown<%= comment.id %>" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminCommentActionsDropdown<%= comment.id %>">
                        <li>
                        <%= link_to "Edit", 
                                    edit_admin_comment_path(comment), 
                                    class: "dropdown-item" %>
                        </li>
                        <li>
                        <%= link_to "Delete", 
                                    admin_comment_path(comment),
                                    data: { turbo_method: :delete, turbo_confirm: "Delete this comment?" },
                                    class: "dropdown-item text-danger" %>
                        </li>
                    </ul>
                </div>
            </div>
        <% end %>
    <% else %>
        <span class="text-muted justify-content-center d-flex"><p>No comments yet.</p></span>
    <% end %>
</div>