<h1>Blog Posts</h1>

<p>
    <%= link_to "New Post", new_post_path %> |
    <%= link_to "Recent Blog Posts", root_path %>
</p>

<% if @posts.any? %>
    <ul>
        <% @posts.each do |post| %>
        <li style="margin-bottom: 15px;">
            <p>By <%= post.user.name %> | <%= post.created_at.strftime("%b %d, %Y") %></p>
            <h2><%= link_to post.title, post_path(post) %></h2>
            <p><%= truncate(post.body, length: 120) %></p>
        </li>
        <% end %>
    </ul>
<% else %>
    <p>You haven’t written any posts yet.</p>
<% end %>
