<h1><%= @post.title %></h1>
<p><em>By <%= @post.user.name %> • <%= @post.created_at.strftime("%b %d, %Y") %></em></p>
<p><%= @post.body %></p>

<% if logged_in? && (current_user == @post.user || admin?) %>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Delete", post_path(@post), method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?" } %>
<% end %>

<p><%= link_to "Blog Posts", posts_path %></p>